
<br/>

<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://www.yaf.org/uploadedImages/Blogs/UCSD%20Logo.jpg" width="80" height="80">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Welcome back, <%= @User.first_name %> </h4>
        <% @User.attributes.each do |name, value| %>
          <p><b><%= name %>: </b> <%= value %>
        <% end %>
        <p><b>Status: </b> Hey there man
        <p><button class="btn btn-primary">Update Status Message</button>
    </div>

  </li>
</ul>
