<br/>
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://www.yaf.org/uploadedImages/Blogs/UCSD%20Logo.jpg" width="80" height="80">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><button class="btn btn-success">Add Me as Friend</button> <a href=<%= "#{@User.id}/social" %> class="btn btn-info">Get Social!</a></h4>
        <% @User.attributes.each do |name, value| %>
          <p><b><%= name %>: </b> <%= value %>
        <% end %>
        <p><b>Status: </b> <%= 
         begin
            @User.status.message 
         rescue
            "Empty"
          end %>
    </div>

  </li>
</ul>

