<h1>Welcome to the profile page</h1>
<br/>

<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://www.yaf.org/uploadedImages/Blogs/UCSD%20Logo.jpg" width="80" height="80">
    </a>
    <div class="media-body">
      <h4 class="media-heading">UCSD </h4>
      	<p><b>Username: </b> UCSD
	 	<p><b>Skype: </b>	UCSD Skype
		<p><b>Facebook: </b> UCSD Facebook
		<p><b>Twitter: </b> Twitter
		<p><b>Status:</b> Today is an awesome day. with - Evan and Kelvin
    </div>
  </li>
</ul>
