<h3>Update status</h3>
<%= flash[:notice] %>
<form method="post">
	<input type="text" name="message" value="<%= 
		begin
			@user.status.message 
		rescue
			""
		end
	%>" /> <br/>
	<input type="submit" class="btn btn-primary" value="update!" />
</form>
