-# in app/views/password_recovery/show.html.haml

%h2 Password Recovery

Your password is: 
= form_tag user_path(@user), :method => :put do

  = text_field :user, :password

  = link_to "Back to password recovery", password_recovery_index_path
