= button_to 'Add Facebook Account', "javascript:fbLogin()"
= button_to 'Request Facebook permission', controller: :settings, action: :get_fb_permission


= button_to 'Twitter Login', "javascript:fbLogin()"
