%h4 Sign in the following profiles

= link_to image_tag("fb_logo.png", :size => "48x48"), "javascript:fbLogin()"
= link_to image_tag("twitter_logo.png", :size => "48x48"), {controller: :twitter, action: :twitter_login}, method: :post
= link_to image_tag("google_logo.png", :size => "48x48"), {controller: :google, action: :g_login}, method: :get



